// Base & resets
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
}

body {
  background-image: url('../public/bg-body-01.png'), url('../public/bg-body-02.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 0 5%, 100% 2%;
}

.container-homepage-wrapper {
  @include media-breakpoint-up(lg) {
    background-image: url('../public/logo-glass.png');
    background-position: 100% 80px;
    background-repeat: no-repeat;
  }
}

.container-about-wrapper {
  @include media-breakpoint-up(lg) {
    background-image: url('../public/bg-about.png');
    background-position: 100% 80px;
    background-repeat: no-repeat;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong {
  font-weight: 600;
}

:target:before {
  content: '';
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

// Helpers
.text-overflow {
  @include text-overflow;
}

.ws-no-wrap {
  white-space: nowrap;
}

.flex-1 {
  flex: 1;
}

// Containers
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 100%;
}

.container {
  padding-left: 16px;
  padding-right: 16px;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}

.footer {
  background-color: $darkest;
  padding: 12px 0;
}
