.btn-absolute {
  position: absolute;
  top: 4px;
  right: 4px;
}

.form-control {
  &.with-button {
    padding-right: 150px;
  }
}

.icon-social {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(241, 241, 241, 0.1);
  border-radius: 4px;

  &.is-twitter {
    background-image: url('../public/icons/icon-twitter.svg');
  }

  &.is-discord {
    background-image: url('../public/icons/icon-discord.svg');
  }

  &.is-telegram {
    background-image: url('../public/icons/icon-telegram.svg');
  }

  &.is-github {
    background-image: url('../public/icons/icon-github.svg');
  }

  &.is-medium {
    background-image: url('../public/icons/icon-medium.svg');
  }

  &.is-youtube {
    background-image: url('../public/icons/icon-youtube.svg');
  }
}

.container-header-page-title {
  height: 44px;
  padding-left: 32px;
  margin-left: 32px;
  line-height: 44px;
}

.list {
  list-style-type: disc;
  padding-left: 24px;

  li {
    margin-top: 24px;
  }
}

.separator-menu {
  width: 2px;
  height: 36px;
  background-color: #7979a3;
  margin: 0 32px;
}
